


<div id="faq_container">


	<h3>FAQS</h3>



	<section class="top-space">
		
		<div class="accordion" id="accordion2">  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  <strong>General Questions + </strong>
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 	

                  <strong>What is IT in the D and what is it trying to accomplish?</strong>
            
                  <br/>
                  <ul>                    
                    <li>IT in the D is a training program, created by four downtown Detroit based companies, in an effort to bridge the gap between what the schools are teaching at local colleges and universities, and current hiring needs. 
                    </li>

                  </ul>
                  <br/>

                  <strong>Who are the partnering companies?</strong>
    
                  <br/>
                  <ul>                    
                    <li>Currently, the partnering companies are Compuware, GalaxE.Solutions, Marketing Associates and Quicken Loans. 
                    </li>

                  </ul>
                  <br/>

                  <strong>Is IT in the D non-profit?</strong>
               
                  <br/>
                  <ul>                    
                    <li> IT in the D is currently funded solely by the partnering companies. 
                    </li>

                  </ul>
                  <br/>

                  <strong>Who are the students?</strong>
      
                  <br/>
                  <ul>                    
                    <li> IT in the D has a very diverse student population. They range from young adults in their last year of college, to established professionals looking to refine or expand their technical skills. 
                    </li>

                  </ul>
                  <br/>

                  <strong>Where does IT in the D meet?</strong>
                 
                  <br/>
                  <ul>                    
                    <li>  It in the D meets in downtown Detroit, primarily in the Compuware building, located across from Campus Martius.
                    </li>

                  </ul>
                  <br/>

                  <strong>When was IT in the D established?</strong>
             
                  <br/>
                  <ul>                    
                    <li>   IT in the D was established in April 2012.
                    </li>

                  </ul>
                  <br/>

                  <strong>Is IT in the D an internship program?</strong>
                
                  <br/>
                  <ul>                    
                    <li>  No, IT in the D is not an internship program. Students will receive valuable training related to their particular IT path of interest, which mimics real-world application and implementation 
                    </li>

                  </ul>


		
                </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                 <strong>Current Student Questions +</strong>
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  <strong>What are the meeting dates/times for the fall 2012 session?</strong>
            
                  <br/>
                  <ul>                    
                    <li>  Classes will meet every Tuesday and Thursday from 3-5pm, excluding holidays, unless otherwise communicated in advance.
                    </li>

                  </ul>
                  <br/>

                  <strong> When does the fall 2012 session start and end?</strong>
    
                  <br/>
                  <ul>                    
                    <li>The session will begin on 10/23/12 and end 1/17/12
                    </li>

                  </ul>
                  <br/>

                  <strong>How can I contact my trainers?</strong>
               
                  <br/>
                  <ul>                    
                    <li>  Please refer to <a href="">this</a> document 
                    </li>

                  </ul>
                  <br/>

                  <strong>Where do I park?</strong>
      
                  <br/>
                  <ul>                    
                    <li> Please park at the Compuware parking structure, entering the parking deck from Farmer Street. Access to the office tower is at ground level, directly across Farmer Street. Parking is validated for all students.
                    </li>

                  </ul>
                  <br/>

                  <strong>What is Compuware's address?</strong>
                  <br/>
                  <ul>                    
                    <li> One Campus Martius Detroit, MI 48226
                    </li>

                  </ul>
                  <br/>

                  <strong> What is IT in the D’s attendance policy?</strong>
                  <br/>
                  <ul>                    
                    <li>  Please refer to <a href="">this</a> document 
                    </li>

                  </ul>
                  <br/>

                  <strong> Do we have class on holidays?</strong>
                  <br/>
                  <ul>                    
                    <li>  No. If you come to class on a holiday, there will be nobody there to let you in, as we will all be celebrating with our families, too!
                    </li>

                  </ul>
                  <br/>

                  <strong> Can I bring someone to class with me?</strong>
                  <br/>
                  <ul>                    
                    <li> Unfortunately, students are not allowed to bring family and/or friends to class time, however, there will be an opportunity at the end of the session to bring friends and/or family to your graduation so they can see the great work you have accomplished.
                    </li>

                  </ul>
                  <br/>

                  <strong>Will IT in the D guarantee me a job?</strong>
                  <br/>
                  <ul>                    
                    <li> Please direct them to ITintheD@ITinDetroit.com
                    </li>

                  </ul>
                  <br/>

                  <strong>Where can I go to get help with my resume?</strong>
                  <br/>
                  <ul>                    
                    <li>Please contact ITintheD@ITinDetroit.com and they will assist you in directing you to most appropriate resource.
                    </li>

                  </ul>
                  <br/>

                  <strong> What happens when I graduate from IT in the D?</strong>
                  <br/>
                  <ul>                    
                    <li>  Our commitment to our students does not stop at the door. Once you have graduated, please feel free to reach out to trainers and administration on LinkedIn. Most importantly, IT in the D will put you in direct contact with its partnering organization, WIN, to assist you with any questions relating to resumes, interviewing or job hunting. 
                    </li>

                  </ul>
                  <br/>

                  <strong> Can I switch teams?</strong>
                  <br/>
                  <ul>                    
                    <li>   Please contact ITintheD@ITinDetroit.com and your trainer to assist you with this request. 
                    </li>

                  </ul>
                  <br/>



                </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
                  <strong>Potential Student Questions +</strong>
                </a>  
              </div>  
              <div id="collapseThree" class="accordion-body collapse">  
                <div class="accordion-inner">  
      
                  <strong>How do  get involved?</strong>
            
                  <br/>
                  <ul>                    
                    <li> IT in the D has a substantial academic partner list. Please refer to list and contact your school’s faculty member or administrator for details on how to get involved (attach list)(this needs to be created). If you’re school is not one of the schools listed, please have a school representative contact ITintheD@ITinDetroit.com. 
                    </li>

                  </ul>
                  <br/>

                  <strong>Does it cost anything to be a part of IT in the D?</strong>
    
                  <br/>
                  <ul>                    
                    <li>No. IT in the D is completely free to those involved.
                    </li>

                  </ul>
                  <br/>

                  <strong>Is IT in the D non-profit?</strong>
               
                  <br/>
                  <ul>                    
                    <li> IT in the D is currently funded solely by the partnering companies. 
                    </li>

                  </ul>
                  <br/>

                  <strong>How long is an IT in the D session?</strong>
      
                  <br/>
                  <ul>                    
                    <li> An IT in the D session runs roughly 10 weeks.
                    </li>

                  </ul>
                  <br/>

                  <strong>Does IT in the D provide college credit?</strong>
                  <br/>
                  <ul>                    
                    <li> Currently, IT in the D has not established college credit with its academic partners; however, this is something that we are working on.
                    </li>

                  </ul>
                  <br/>

                  <strong> What is the time commitment for students?</strong>
                  <br/>
                  <ul>                    
                    <li>  Students are required to commit two hours, twice a week for ten weeks; however, a lot of students are so passionate and excited about their work, that they have taken it upon themselves to meet after hours.
                    </li>

                  </ul>
                  <br/>

                  <strong> What do students get from participating in IT in the D?</strong>
                  <br/>
                  <ul>                    
                    <li> Students who complete the program will receive a certificate of completion signed by the executives of each participating company. Students will also get resume and interview training, as well as contacts within the partnering companies and our partner WIN, to assist with job placement. 
                    </li>

                  </ul>
                  <br/>

                  <strong> What are the technologies taught?</strong>
                  <br/>
                  <ul>                    
                    <li>Our fall 2012 session will have trainers with the following skill sets: .NET, Java, HTML, Sequel, C#, and Ruby on Rails, as well as Database Analysts, Business Analysts, and Project Managers.
                    </li>

                  </ul>
                  <br/>

                  <strong>Will IT in the D guarantee me a job?</strong>
                  <br/>
                  <ul>                    
                    <li> While IT in the D does its best to prepare its students for the “real world”, it does not guarantee employment. That being said, many IT in the D students have shown the skills, passion and aptitude to receive employment offers from the partnering companies. 
                    </li>

                  </ul>
                  <br/>



                </div>  
              </div>  
            </div>  
          </div>  



	</section>


</div>

	<%= render :partial => 'about_us/sidebar' %>

