
#rails specific
*.sqlite3
config/database.yml
log/*
tmp/*
public/system/*
public/assets/*

## generic files to ignore
*~
*.DS_Store
.DS_Store
*.swp
*.out
.svn
#Gemfile conflict
Gemfile.lock

##config specific files
config/aws.yml

# Mac
.DS_Store

# NetBeans
nbproject

# Eclipse
.project

# Redcar
.redcar

# Rubinius
*.rbc

# Vim
*.swp
*.swo

# RubyMine
.idea

# Backup
*~

# Capybara Bug
capybara-*html

# Spinx
*.pid
*.conf
config/development.sphinx.conf
db/sphinx/*
.rspec-tm
.tm_properties


