

<div id="sidebar_container">

	<aside>
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=f147mak6d6a0sc0akton8h23hg%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="300" height="300" frameborder="0" scrolling="no"></iframe>
	</aside>

	<aside>
		<ul>
			<li><img src="/assets/email_icon.png"></li>
			<li><img src="/assets/email_icon.png"></li>
			<li><img src="/assets/email_icon.png"></li>
			<li><img src="/assets/email_icon.png"></li>
			<li><img src="/assets/email_icon.png"></li>
		</ul>
	</aside>

</div>