


<div id="contact_container">


	<h3>Contact Us</h3>



	<section class="top-space">


		<iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Compuware+Building&amp;aq=&amp;sll=42.335358,-83.055954&amp;sspn=0.030074,0.04137&amp;ie=UTF8&amp;t=m&amp;st=111749203982896946334&amp;rq=1&amp;ev=zi&amp;split=1&amp;radius=1.27&amp;hq=Compuware+Building&amp;hnear=&amp;ll=42.335326,-83.055911&amp;spn=0.030074,0.04137&amp;output=embed"></iframe><br />
	<p>
		<strong>Contact us at ITintheD@ITinDetroit.com</strong>
		</p>
    <img src="/assets/compuware_building.png" width="300" height="224" alt="Compuware Building" />
    <p>We meet at the Compuware building:<br/>Campus Martius Park<br/>800 Woodward Ave<br/>Detroit, MI 48226</p>

  </section>


</div>

	<%= render :partial => 'about_us/sidebar' %>
