


<div id="contact_container">


	<h3>Contact Us</h3>



	<section class="top-space">


		<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Compuware+Building&amp;aq=&amp;sll=42.335358,-83.055954&amp;sspn=0.030074,0.04137&amp;ie=UTF8&amp;t=m&amp;st=111749203982896946334&amp;rq=1&amp;ev=zi&amp;split=1&amp;radius=1.27&amp;hq=Compuware+Building&amp;hnear=&amp;ll=42.335326,-83.055911&amp;spn=0.030074,0.04137&amp;output=embed"></iframe><br />

		<p>
		<strong>Contact us at ITintheD@ITinDetroit.com</strong>
		</p>
    <img src="/assets/compuware_building.png" width="300" height="224" alt="Compuware Building" />
    <p>This is where we meet.</p>



<form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">Form Name</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Text input</label>
          <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block">Supporting help text</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Text input</label>
          <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block">Supporting help text</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Text input</label>
          <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block">Supporting help text</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Text input</label>
          <div class="controls">
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block">Supporting help text</p>
          </div>
        </div>

    <div class="control-group">

          <!-- Textarea -->
          <label class="control-label">Textarea</label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" class=""> </textarea>
            </div>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label">Button</label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Button</button>
          </div>
        </div>

    </fieldset>
  </form>

  </section>


</div>

	<%= render :partial => 'about_us/sidebar' %>




