


<div id="contact_container">


	<h3>Contact Us</h3>



	<section class="top-space">

		<p>
		<strong>Contact Info:</strong>&nbsp;
		Blah
		</p>

			<ul>
				<li>  IT in the D is a non-profit program that provides students with valuable real-world work experience, training and job opportunities, as they launch their technology careers in Detroit.</li>

				<li>Started by five downtown Detroit companies, each on a mission to determine why they were having trouble finding qualified candidates for their many job openings, IT in the D is a collaborative effort that aims to identify and fill the gaps between the local talent pool and current hiring needs.</li>
			</ul>

	</section>


	<section>

		<div class="accordion" id="accordion2">  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  <strong>About the Program +</strong>  
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                 	IT in the D is a 10 week experiential learning program that consists of 40 students and 15 trainers, depending on project. The students and trainers are divided amongst two teams, with one focusing on open source technologies and the other focusing on proprietary technologies. Students will be placed on teams dependent upon the skill set/focus area they are most interested in pursuing. In addition to the technologies, the program also offers trainers specializing in business analysis and project management. 
 					
 					<br/>
 					<br/>
					Throughout the program, students will be advised how to articulate what they are learning, so to be able to market themselves properly to potential employers. Towards the end of the program, a resume and interview training session as well as mock interviews will be conducted by the recruiting teams of all companies, the Workforce Intelligence Network and other local career organizations.
					
					<br/> 
					<br/>
					Students are required to commit to the full ten weeks, meeting twice a week for two hours at the offices of the downtown Detroit companies.
					 
					<br/>
					<br/> 
					At the end of the program, there will be a closing ceremony where students can bring their friends and family to show off all of their hard work. Certificates will be presented and students will be made aware of all resources available to them, having completed the program.
		
                </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                 <strong>IT in the D Projects +</strong>  
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  Both IT in the D classes will be working on constructing a new IT in the D website using open source and proprietary technologies. The technologies include: .NET, HTML, Java, SQL, C# and Ruby on Rails. Students will be trained through hands on, experiential learning that mimics real life application. Students will work on teams with their peers to design, develop and implement their projects.
 				  <br/>
				  <br/> 
				  At the end of the session, both teams will present their projects to the entire IT in the D program, including partnering companies, talent partners and organizations.
 
                </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
                  <strong>IT in the D Sponsor Companies + </strong> 
                </a>  
              </div>  
              <div id="collapseThree" class="accordion-body collapse">  
                <div class="accordion-inner">  
                  <ul>
                  	<li>
                  		<h3>Compuware</h3>
                  		<p>  For nearly 40 years, Compuware has delivered software, experts and best practices to make your applications work well and deliver business value. Our people and software ensure that critical technologies work like they should — all the time — for 7,100 customers around the globe. When technology performance really matters — and it matters now more than ever — organizations, including 46 of the top 50 Fortune 500 companies and 12 of the 20 most visited U.S. web sites, turn to Compuware.</p>
                  	</li>

                  	<li>
                  		<h3>Fathead</h3>
                  		<p> A short time ago, Fathead was a company with a handful of employees and a REAL.BIG. vision. Today, we’re the leading brand in sports and entertainment wall graphics with thousands of officially licensed products! Our product line-up includes Fathead Tradeables, Fathead Jr., Fathead Skins and of course our Real.Big Fathead- the officially licensed, life-size, hi-def wall graphics of professional athletes, animated super heroes, entertainment figures, team helmets and logos… just to name a few.
                  		</p>
                  	</li>

                  	<li>
                  		<h3>GalaxE.Solutions</h3>
                  		<p>   GalaxE.Solutions is a full service consulting firm focused on delivery excellence in the area of IT solutions across multiple technologies. GalaxE.Solutions is an industry leader in designing and deploying systems that enable agile business processes to allow clients to transact and share information across internal networks and the Internet, targeting business results, competitiveness, and efficiency.

                  		</p>

                  	</li>

                  	<li>
                  		<h3>Marketing Associates</h3>
                  		<p>   To be a flexible, responsive and proactive supplier of world-class sales and marketing initiatives with this ongoing commitment: There will be no compromise in service or quality for our customers.
                  		</p>
                  	</li>

                  	<li>
                  		<h3>Quicken Loans</h3>
                  		<p>   Quicken Loans is one of the largest full-service residential mortgage lenders in the United States. We’re America’s #1 Online Mortgage Lender. We close loans in all 50 states and have more than 20 years of experience in the industry.
 						<br/>
				  		<br/> 
						It all started in June of 1985 with a simple concept that, even today, large mortgage companies just don’t get. Guess what? Buying a house can be one of the most stressful, frightening, exhilarating, and exciting times in a person’s life. Dan Gilbert, our Founder and Chairman, thought to himself, WE CAN DO IT BETTER THAN EVERYONE ELSE.
						<br/>
				  		<br/>  
						So we did.
                  		</p>
                  	</li>
                  </ul>
                </div>  
              </div>  
            </div>  
          </div>  



	</section>


</div>

	<%= render :partial => 'sidebar' %>




