<section class='events' style="min-height:180px;">
  <div class="hero-unit">
  <h1>Featured Event</h1>
  <p>This section can highlight an event, with a button to link to an events list.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
    
</section>

