<section class='events'>
	<article>
		Event 1
	</article>
	<article>
		Event 2
	</article>
	<article>
		Event 3
	</article>
	<article>
		Event 4
	</article>
	<article>
		Event 5
	</article>			
</section>