<section class='events' style="min-height:360px;">

<div class="hero-unit" id="events_unit" >
  <h1>Featured Event</h1>   
  <p>
    <div class="leftHalf">
      
     <h2>Mobile Monday Detroit</h2>

    <br/>
July 16, 2012 5:30 PM - 8:00 PM in Compuware Building<br/>
<b><BYOD (Bring Your Own Device)/b>
</p>
  <p>
    BYOD is short for bring your own device.
<br/>
    In the consumerization of IT, BYOD is a phrase that has become widely adopted to refer to employees who bring their own computing devices – such as smartphones, laptops and tablets – to the workplace for use and connectivity on the corporate network.
    <a class="btn btn-primary btn-large" href="http://www.meetup.com/Mobile-Monday-Detroit/events/65925102/?gj=wc2d_e&a=wc2d_gnl&rv=wc2d_e">
      Learn more
    </a>
  </p>
    </div>
       <div class="rightHalf">
           <h2>Event list</h2>
            <br/>
            <a href="http://www.meetup.com/Mobile-Monday-Detroit/events/65925102/?gj=wc2d_e&a=wc2d_gnl&rv=wc2d_e" class="pills">
				<i class="icon-star"></i><strong>Mobile Monday Detroit</strong>
			</a>
            <br/>July 16--Compuware Building 
           <br/>
           <br/>
           
        
         <a href="http://detroit.metromix.com/events/fair_festival/detroit-design-festival-2012-highland-park/3083503/content" class="pills">
			<i class="icon-star"></i><strong>Detroit Design Festival</strong>
       	</a>
		<br/>July 19-23
		<br/><br/>
           <a href="http://detroit.metromix.com/events/fair_festival/ann-arbor-art-fair-downtown-ann-arbor/3027726/content" class="pills">
				<i class="icon-star"></i><strong>Ann Arbor Art Fair</strong>
           </a>
			<br/>July 20--Downtown Ann Arbor
           <br/><br/>
           <a href="http://detroit.metromix.com/events/fair_festival/shadow-art-fair-ypsilanti/3033061/content" class="pills"><i class="icon-star"></i><strong>Shadow Art Fair</strong>
           </a><br/>July 21--Corner Brewery 
           <br/><br/>
           <a class="btn btn-primary btn-large" href="/events">view more</a>
        </div>

</div>


</section>

