<section class='events' style="min-height:180px;">
  <div class="hero-unit" id="events_unit">
  <h1>Featured Event</h1>
  <p>
	   <h2>Mobile Monday Detroit</h2>

	  <br/>
July 16, 2012 5:30 PM - 8:00 PM in Compuware Building<br/>
<b><BYOD (Bring Your Own Device)/b>
</p>
  <p>
	  BYOD is short for bring your own device.
<br/>
In the consumerization of IT, BYOD is a phrase that has become widely adopted to refer to employees who bring their own computing devices – such as smartphones, laptops and tablets – to the workplace for use and connectivity on the corporate network.
    <a class="btn btn-primary btn-large" href="http://www.meetup.com/Mobile-Monday-Detroit/events/65925102/?gj=wc2d_e&a=wc2d_gnl&rv=wc2d_e">
      Learn more
    </a>
  </p>
</div>

</section>

