<section style='height:400px;margin-bottom:30px;' class='map'>
	<div id="map_canvas" style="width:620px;height:400px">
	<form>
<input type="checkbox" name="vehicle" value="Bike" /> I have a bike<br />
<input type="checkbox" name="vehicle" value="Car" /> I have a car
</form>
	</div>
</section>
