<h3>Featured Companies</h3>
<hr>
<dl>
	<dd>Compuware Corporation</dd>
	<%= image_tag("compuware logo.png", :alt => "rss feed", :style=>'width:220px') %>
	<dt>Location:</dt>
	<dd>One Campus Martius</dd>
	<dd>Detroit, MI</dd>
	<dd>48226</dd>
</dl>
