<h3>Mission Statement</h3>
<hr/>
<dl>
	<dt>
		To retain, support and connect IT professionals with quality resources, events, news and collaborations by maintaining a central hub for creative innovation in metro Detroit
	</dt>
</dl>
<hr width="3pt">

<h3>Featured Company</h3>
<hr>
<dl>
	<dt>Name:</dt>
	<dd>Compuware Corporation</dd>
	<%= image_tag("compuware logo.png", :alt => "rss feed") %>
	<dt>Location:</dt>
	<dd>One Campus Martius</dd>
	<dd>Detroit, MI</dd>
	<dd>48226</dd>
</dl>
