<h3>Featured Companies</h3>
<hr>
<dl>
	<dd>Compuware Corporation</dd>
	<a href="https://compuware.com"><%= image_tag("compuware building.png", :style => "border: 1px solid black", :alt => "rss feed",) %></a>
	<dt>Location:</dt>
	<dd>One Campus Martius</dd>
	<dd>Detroit, MI</dd>
	<dd>48226</dd>
</dl>
