<section class='stories' style="min-height:250px;">
	<h3>Hot news from the D</h3>

	<div >
  <div class="span3" >

    <a target=_blank href="http://win-semich.org/detroit-beats-silicon-valley-in-opening-first-ever-patent-office-outside-washington-d-c/" class="thumbnail">

      <%= image_tag("/assets/satellitestory.png", :alt => "first satellite patent office") %>
    </a>
Detroit beats Silicon Valley in opening first-ever patent office outside Washington, D.C.
<a class="btn btn-medium" href="http://win-semich.org/detroit-beats-silicon-valley-in-opening-first-ever-patent-office-outside-washington-d-c/">
      Read more
      </a>
 </div>

  <div class="span2">
    <a href="http://www.freep.com/apps/pbcs.dll/article?AID=2012207150321" class="thumbnail">

      <%= image_tag("/assets/storycorps.png", :alt => "StoryCorps") %>
    </a>
StoryCorps captures the lives and times of metro Detroiters
<a class="btn btn-medium" href="http://www.freep.com/apps/pbcs.dll/article?AID=2012207150321">
      Read more
      </a>
</div>
  <div class="span2">
    <a href="http://www.wxyz.com/dpp/news/salvation-army-hosting-job-fair-for-openings-in-southeast-michigan" class="thumbnail">
       <%= image_tag("/assets/salvationarmy.png", :alt => "Salvation Army hosting job fair") %>
    </a>
    Salvation Army job fair in SE Michigan! All levels of positions available!
<a class="btn btn-medium" href="http://www.wxyz.com/dpp/news/salvation-army-hosting-job-fair-for-openings-in-southeast-michigan">
      Read more
      </a>
</div>
</div>

</section>
