<section class='stories' style="min-height:180px;">
	<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
 <ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
    </a>
  </li>
</ul>
	
</section>

<section class='organizations' style="min-height:180px;">
	 <ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
      <h5>Story</h5>
      <p>Thumbnail caption right here...</p>
       <a class="btn btn-primary btn-medium">
      Learn more
      </a>
    </div>
  </li>
  <ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
      <h5>Story</h5>
      <p>Thumbnail caption right here...</p>
      <a class="btn btn-primary btn-medium">
      Learn more
      </a>
    </div>
  </li>
  <ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">
      <h5>Story</h5>
      <p>Thumbnail caption right here...</p>
       <a class="btn btn-primary btn-medium">
      Learn more
      </a>
    </div>
  </li>
</ul>

</section>
