<section class='stories' style="min-height:180px;">
	<div class="span2">
          <h3>This is a story</h3>
           <p>Donec id elit non mi porta gravida at eget metus.  </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
	<div class="span2">
          <h3>This is a story</h3>
           <p>Donec id elit non mi porta gravida at eget metus.  </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>	<div class="span2">
          <h3>This is a story</h3>
           <p>Donec id elit non mi porta gravida at eget metus.  </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
</section>

<section class='organizations' style="min-height:180px;">
	<div class="span2">
          <h3>This is a story</h3>
           <p>Donec id elit non mi porta gravida at eget metus.  </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
	<div class="span2">
          <h3>This is a story</h3>
           <p>Donec id elit non mi porta gravida at eget metus.  </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>	<div class="span2">
          <h3>This is a story</h3>
           <p>Donec id elit non mi porta gravida at eget metus.  </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
     </div>
</section>
