<section class='stories'>
	<article>
		Story 1
	</article>
	<article>
		Story 2
	</article>
	<article>
		Story 3
	</article>
	<article>
		Story 4
	</article>
	<article>
		Story 5
	</article>			
</section>