<h2><em>Mission statement</em></h2>
<h2>About ITInTheD contents contributors</h2>

<p>Contributors to this project:</p>

<ul>
  <li><b>
		Wayne State University. WSU Warrior team includes:</b>
		<ul>
			<li>Massoud Alatrash</li>
			<li>Brad Chaiken </li>
			<li>Juan Chen</li>
			<li>Pranab Chowdhury</li>
			<li>Ian Kwiotek</li>
			<li>Eyad Hailat </li>
			<li>Parviz  Movahedan </li>
			<li>George Roberts III</li>
		</ul>
	</li>
<li><b>
Wayne County Community College District:</b>
	<ul>

		<li>Bruce Bielawa</li>
		<li>Thomad Fundaro</li>
		<li>Mary Genesco</li>
		<li>Matthew McLoskey</li>
		<li>John Potts</li>
		<li>Corla Scott</li>


	</ul>

</li>

<div>
	<p><h2>Past projects</h2></p>
	<ul>
	<li>ItInTheD Summer 2012.</li>
	</ul>
	</div>
<p></p>
