<p>Contributers to this project:</p>

<ul>
  <li>
		Wayne State University. WSU Warrior team includes:
		<ul>
			<li>Massoud Alatrash</li>
			<li>Brad Chaiken </li>
			<li>Juan Chen</li>
			<li>Pranab Chowdhury</li>
			<li>Ian Kowtiek</li>
			<li>Eyad Hailat </li>
			<li>Parviz  Movahedan </li>
			<li>George Roberts </li>
		</ul>
	</li>
	<li>
		Wayne Community College:
		<ul>
			<li>Mary</li>
			<li>Tom</li>
		</ul>
	</li>
	<li>
		Washtenaw Community College:
		<li>Bruce</li>
	</li>

</ul>
