<div class='container'>

	<%= render :partial => 'carousel' %>

</div>


<div class='row' style="margin-left:0px">
	
	<div id="news_container"class='span5' style="margin-left:0px">
		<div class="content_title"> <p>News</p> </div>
		<section>
		<!--	<ul>!-->
			<!--<#% @entries.each do |entry| %>
				<li><#%= link_to entry.title, entry.url %></li>
			<#% end %>-->
		<!--	</ul>!-->
		</section>
	</div>
	<div id="testimonial_container" class='span5' style="margin-left:40px">
		<div class="content_title"> <p>Testimonials</p> </div>
		<section>
			<iframe width="470" height="315" src="http://www.youtube.com/embed/mDxq1JFZ_wg" frameborder="0" allowfullscreen></iframe>
				
		</section>
	</div>

</div>



<div class='container'>
		<div class="content_title"> <p>Recent Topics</p> </div>
		<section>
				
		</section>
</div>



<div class='container'>
		<div class="content_title"> <p>Sponsors</p> </div>
		<br/>
		<section>
			<img src="/assets/CompuwareLogo_high_res.png" width="150" height="100" />
			<img src="/assets/fathead_logo.png" width="150" height="100" />
			<img src="/assets/galaxe.png" width="150" height="100" />
			<img src="/assets/marketing_associates2.png" width="150" height="100" />
			<img src="/assets/quickenLoans.png" width="150" height="100" />		
		</section>
</div>

