<div class='container'>

	<%= render :partial => 'carousel' %>

</div>


<div id="media_container" >
	
	<div id="news_container">
		<div class="content_title"> <p>News</p> </div>
	
		<section>
		<!--	<ul>!-->
			<!--<#% @entries.each do |entry| %>
				<li><#%= link_to entry.title, entry.url %></li>
			<#% end %>-->
		<!--	</ul>!-->
		<br/>
		<p><img src="/assets/detroitnews_logo.png"></p>
		<p>December 12, 2012 at 10:20 am</p>
<p>In brief</p>
<p><strong>'IT in the D' OKs another year, partner</strong></p>
<p>The founders of an information technology training program will commit to the initiative for another year and will add another partner as demand for IT jobs continues to grow in Detroit.</p>
<p>Quicken Loans Inc., Compuware Ventures, GalaxE.Solutions, Fathead and Marketing Associates - inaugural partners of "IT in the D" - will sign a memorandum of understanding today to continue support of the program through 2013. Detroit-based Workforce Intelligence Network and its fiscal arm, the Southeast Michigan Community Alliance, will join as a partner.
"IT in the D" is in its second session and is partnering with 15 Michigan universities for a 10-week program to train 26 students and IT professionals.</p>
<p>According to one study, Detroit could be home to about 12,500 information technology jobs by 2015.</p>
		</section>

	</div>


	<div id="testimonial_container" >
		<div class="content_title"> <p>Testimonials</p> </div>
		<section>
		<iframe width="466" title="YouTube video player" src="http://www.youtube.com/embed/cpcxm6yjJ80?HD=1;wmode=opaque;rel=0;showinfo=0;controls=0;title=0" height="300" frameborder="4"></iframe>
		</section>
	</div>

</div>


<div class='container' style="clear:both;">
		<div class="content_title"> <p>Sponsors</p> </div>
		<br/>
		<section id="home_sponsors">
			<ul>
			<li><a href="https://www.quickenloanscareers.com/web/JobListings.aspx?&lookupid=1&cm_ref=/about/careers/open_positions_new.html" target="_new">       <img src="/assets/quicken_logo.jpg">  </a></li>
			<li><a href="http://www.fathead.com/" target="_new">            <img src="/assets/fathead_logo.jpg">  </a></li>
			<li><a href="http://www.compuware.com/" target="_new">          <img src="/assets/compuware_logo.jpg"></a></li>
			<li><a href="http://www.marketingassociates.com/" target="_new"><img src="/assets/marketing_logo.jpg"></a></li>
			<li><a href="http://www.galaxesolutions.com/" target="_new">    <img src="/assets/galaxe_logo.jpg">   </a></li>
			</ul>	
		</section>
</div>

