<div class='row'>
	<section class='span8'>
		<%= render :partial => 'map' %>
		<%= render :partial => 'stories' %>
		<%= render :partial => 'events' %>
	</section>
	<aside class='span4'>
		<%= render :partial => 'orgs' %>
	</aside>
</div>

