<div class='container'>

	<%= render :partial => 'carousel' %>

</div>


<div id="media_container" >
	
	<div id="news_container">
		<div class="content_title"> <p>News</p> </div>
		<section>
		<!--	<ul>!-->
			<!--<#% @entries.each do |entry| %>
				<li><#%= link_to entry.title, entry.url %></li>
			<#% end %>-->
		<!--	</ul>!-->
		</section>
	</div>
	<div id="testimonial_container" >
		<div class="content_title"> <p>Testimonials</p> </div>
		<section>
			<iframe width="470" height="315" src="http://www.youtube.com/embed/mDxq1JFZ_wg" frameborder="0" allowfullscreen></iframe>
				
		</section>
	</div>

</div>



<div class='container' style="clear:both;">
		<div class="content_title"> <p>Recent Topics</p> </div>
		<section>

		</section>
</div>



<div class='container' style="clear:both;">
		<div class="content_title"> <p>Sponsors</p> </div>
<<<<<<< Updated upstream
		<br/>
		<section>
			<img style="margin:auto 50px auto 30px" src="/assets/CompuwareLogo_high_res.png" width="150" height="100" />
			<img style="margin-right:30px"src="/assets/fathead_logo.png" width="150" height="100" />
			<img style="margin-right:30px"src="/assets/galaxe.png" width="150" height="100" />
			<img style="margin-right:30px"src="/assets/marketing_associates2.png" width="150" height="100" />
			<img src="/assets/quickenLoans.png" width="150" height="100" />			
=======
		<section id="home_sponsors">
			<ul>
			<li><a href="http://www.quickenloans.com/"><img src="/assets/quicken_logo.jpg"></a></li>
			<li><a href="http://www.fathead.com/"><img src="/assets/fathead_logo.jpg"></a></li>
			<li><a href="http://www.compuware.com/"><img src="/assets/compuware_logo.jpg"></a></li>
			<li><a href="http://www.marketingassociates.com/"><img src="/assets/marketing_logo.jpg"></a></li>
			<li><a href="http://www.galaxesolutions.com/"><img src="/assets/galaxe_logo.jpg"></a></li>
			</ul>	
				
>>>>>>> Stashed changes
		</section>
</div>

