<div class='container'>
	<header style='height:150px;' class='row'>
		<div class='span2'>
			User <br>
			Login <br>
			Register<br>
		</div>
		<div class='span7'>
			<h1 style='text-align:center;'>IT in the D</h1>
		</div>
		<div class='span3'>
			<form>
				<input type='search' placeholder='search'>
			</form>
		</div>
		
	</header>
	<nav class='row'>
		
	</nav>
	<div class='row'>
		<section class='span8'>
			<section style='height:200px;margin-bottom:30px;' class='map'>
			<iframe style='border-radius:2px;' width="620" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Detroit&amp;aq=&amp;sll=42.399309,-83.19333&amp;sspn=0.024181,0.053945&amp;g=IT+in+Detroit&amp;ie=UTF8&amp;hq=&amp;hnear=Detroit,+Wayne,+Michigan&amp;ll=42.331427,-83.045754&amp;spn=0.193556,0.431557&amp;t=m&amp;z=12&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Detroit&amp;aq=&amp;sll=42.399309,-83.19333&amp;sspn=0.024181,0.053945&amp;g=IT+in+Detroit&amp;ie=UTF8&amp;hq=&amp;hnear=Detroit,+Wayne,+Michigan&amp;ll=42.331427,-83.045754&amp;spn=0.193556,0.431557&amp;t=m&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</section>
			<section class='stories'>
				<article>
					Story 1
				</article>
				<article>
					Story 2
				</article>
				<article>
					Story 3
				</article>
				<article>
					Story 4
				</article>
				<article>
					Story 5
				</article>			
			</section>
		</section>
		<aside class='span4'>
			<h3>Featured Company</h3>
			<hr>
			<dl>
				<dt>Name:</dt>
				<dd>Compuware Corporation</dd>
				<dt>Location:</dt>
				<dd>One Campus Martius</dd>
		</aside>
	</div>
	<footer class='footer row'>
		
	</footer>
</div>