<div class="container">
	<div>
		<%= render :partial => 'carousel' %>
	</div>
</div>


<div class='row'>
	
	<div id="news_container"class='span0'>
		<div class="content_title"> <p>News</p> </div>
		<section>
		<!--	<ul>!-->
			<!--<#% @entries.each do |entry| %>
				<li><#%= link_to entry.title, entry.url %></li>
			<#% end %>-->
		<!--	</ul>!-->
		</section>
	</div>
	<div id="testimonial_container" class='span0'>
		<div class="content_title"> <p>Testimonials</p> </div>
		<section>
				
		</section>
	</div>

</div>



<div class='container'>
		<div class="content_title"> <p>Recent Topics</p> </div>
		<section>
				
		</section>
</div>



<div class='container'>
		<div class="content_title"> <p>Sponsors</p> </div>
		<section>
				
		</section>
</div>

