<div class='container'>

	<%= render :partial => 'carousel' %>

</div>


<div id="media_container" >
	
	<div id="news_container">
		<div class="content_title"> <p>News</p> </div>
	</div>


	<div id="testimonial_container" >
		<div class="content_title"> <p>Testimonials</p> </div>
		<section>
		<iframe width="466" title="YouTube video player" src="http://www.youtube.com/embed/cpcxm6yjJ80?HD=1;wmode=opaque;rel=0;showinfo=0;controls=0;title=0" height="300" frameborder="4"></iframe>
		</section>
	</div>

</div>

<div class='container' style="clear:both;">
		<div class="content_title"> <p>Sponsors</p> </div>
		<br/>
		<section id="home_sponsors">
			<ul>
			<li><a href="http://www.quickenloans.com/">       <img src="/assets/quicken_logo.jpg">  </a></li>
			<li><a href="http://www.fathead.com/">            <img src="/assets/fathead_logo.jpg">  </a></li>
			<li><a href="http://www.compuware.com/">          <img src="/assets/compuware_logo.jpg"></a></li>
			<li><a href="http://www.marketingassociates.com/"><img src="/assets/marketing_logo.jpg"></a></li>
			<li><a href="http://www.galaxesolutions.com/">    <img src="/assets/galaxe_logo.jpg">   </a></li>
			</ul>	
		</section>
</div>

