<div id="this-carousel-id" class="carousel slide" style="width:560px; margin: 20px auto 0 auto;"><!-- class of slide for animation -->
	  <div class="carousel-inner" >

	    <div class="item active"><!-- class of active since it's the first item -->
	    	<div class="image-carousel1" >
	    		<img src="/assets/community1.png" alt="" />
	  		</div>
	    	<div class="carousel-caption">
	    		<p>GM Renaissance Center</p>
	    	</div>
	    </div>


	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community2.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Fist of a Champion - Detroit’s Monument to Joe Louis</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community3.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Detroit’s People Mover - the Best Way to Discover Downtown Detroit</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community4.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Woodward Avenue, a.k.a. Webward</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community5.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Front of the Compuware Building in Downtown Detroit</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community6.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Downtown Detroit Library</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community7.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>MGM Grand Building</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community8.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Ford Field…home the Detroit Lions!</p>
	      	</div>
	    </div>


	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community9.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Detroit Opera House - musicals, concerts, dance companies…etc.</p>
	      	</div>
	    </div>

	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community10.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Entering Detroit’s Greektown…notice the Caesar’s Palace across the border?</p>
	      	</div>
	    </div>	

	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community11.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>From the 15th floor in the Compuware Building, Tiger Stadium and Ford Field.</p>
	      	</div>
	    </div>	

	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community12.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>From the 15th floor in the Compuware Building, GreekTown Casino.</p>
	      	</div>
	    </div>	

	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community13.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Built in 1965, 1001 Woodward is known for its sweeping views and great location on Campus Martius.</p>
	      	</div>
	    </div>	

	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community14.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>From the 2nd floor of the Compuware building…view of Campus Martius.</p>
	      	</div>
	    </div>	

	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community15.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>QuickenLoans Building…Engineered to Amaze!</p>
	      	</div>
	    </div>	

    	    	    
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
	    <a class="carousel-control left"  href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->