<div id="this-carousel-id" class="carousel slide" style="width:560px"><!-- class of slide for animation -->
	  <div class="carousel-inner" >

	    <div class="item active"><!-- class of active since it's the first item -->
	    	<div class="image-carousel1" >
	    		<img src="/assets/community1.png" alt="" />
	  		</div>
	    	<div class="carousel-caption">
	    		<p>Caption text here</p>
	    	</div>
	    </div>


	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community2.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community3.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community4.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community5.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community6.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community7.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>


	    <div class="item">
	    	<div class="image-carousel1">
	      		<img src="/assets/community8.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>


	    <div class="item">
			<div class="image-carousel1">
	      		<img src="/assets/community9.png" alt="" />
	  		</div>
	      	<div class="carousel-caption">
	        	<p>Caption text here</p>
	      	</div>
	    </div>	
    	    	    
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
	    <a class="carousel-control left"  href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->