<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="sidebarcommunity_container">

	<aside>

		<div class="content_title">
		<p>Events</p>
		</div>	

		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=f147mak6d6a0sc0akton8h23hg%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="300" height="300" frameborder="0" scrolling="no"></iframe>
	</aside>



	<aside id="facebook_widget">	

		<div class="content_title">
			<p>We're On Facebook</p>
		</div>	


		<div class="fb-like-box" data-href="http://www.facebook.com/itindetroit" data-width="300" data-show-faces="true" data-stream="false" data-border-color="white" data-header="false"></div>


	</aside>

<aside id="sponsors_widget">

		<div class="content_title">
			<p>Sponsors</p>
		</div>	
		<div>
		<ul>
			<li><a href="http://www.quickenloans.com/">       <img src="/assets/quicken_logo.jpg">  </a></li>
			<li><a href="http://www.fathead.com/">            <img src="/assets/fathead_logo.jpg">  </a></li>
			<li><a href="http://www.compuware.com/">          <img src="/assets/compuware_logo.jpg"></a></li>
			<li><a href="http://www.marketingassociates.com/"><img src="/assets/marketing_logo.jpg"></a></li>
			<li><a href="http://www.galaxesolutions.com/">    <img src="/assets/galaxe_logo.jpg">   </a></li>
		</ul>
		</div>
	</aside>

</div>