


<div id="community_container">


	<h3>Community</h3>



	<section class="top-space">

		<p>
		<strong>A short blurb</strong> about how wonderful Detroit is.
		</p>
    </section>

		<section>

		<div class="accordion" id="accordion2">  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  <strong>Tech Town Bizdom +</strong>  
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                	TechTown works to reignite Detroit's entrepreneurial culture by fueling business growth, job creation and the revitalization of Midtown and beyond. Through its partners and programs, the nonprofit business incubator and accelerator connects small businesses to the customers, talent, capital and location necessary to build a thriving enterprise in Southeast Michigan.
Its entrepreneurs also gain unique access to research, academic and technology assets through TechTown's partnership with Wayne State University.
TechTown is a 501(c)(3) non-profit organization and is the Woodward Technology Corridor SmartZone.


					<br/>
 					<br/>
A polished pitch comes with practice. Entrepreneurs with an early-stage, technology-based business are invited to refine their skills at Open Pitch Night, co-presented by TechTown Detroit and Bizdom. Not looking to pitch but passionate about entrepreneurship? Come network, listen to pitches and offer your candid feedback. You'll leave inspired.
					<br/>
 					<br/>

Those interested in pitching will be entered into a drawing upon arrival. A Bizdom or TechTown representative will draw 15 names from the pool at 6:15 p.m. Pitches will begin at 6:30 p.m.; each entrepreneur will get three minutes to pitch followed by two minutes of open Q&A. Presenters must pitch a business based in Southeast Michigan. Experts from TechTown and Bizdom will be on hand to provide feedback to the entrepreneurs when presentations conclude.
					<br/>
 					<br/>

Cost is $5 to register and includes pizza. Cash bar.	
<br/>
 					<br/>
<img src="/assets/techtown_bizdom.png" width="267" height="32" alt="techtown/bizdom" />				
			   </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                 <strong>XCONOMY Mobile Madness Motor City - January 17
 +</strong>  
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse">  
                <div class="accordion-inner">  
A half-day forum of interactive talks and chats that will showcase the top investors, entrepreneurs, and executives tackling the next big ideas in mobile computing - from media and advertising to commerce, finance, big data, analytics, entertainment, and beyond. Hosted at Compuware Headquarters and co-sponsored by the Mobile Technology Association of Michigan - a limited number of discounted ($20) student registrations for the event are available. More on the event can be found here: <a href="http://xconomyforum57.eventbrite.com">http://xconomyforum57.eventbrite.com</a>.
			   </div>  
              </div>  
            </div>  

		           <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
                 <strong>Detroit Mobile City IOS Conference - February 2
 +</strong>  
                </a>  
              </div>  
              <div id="collapseThree" class="accordion-body collapse">  
                <div class="accordion-inner"> 
				This conference will offer tech newbies and sophisticated engineers alike the chance to polish their skills in programming and fine-tuning mobile applications. It will be held Saturday, February 2 at the Westin Book Cadillac in downtown Detroit.  More information can be found here: <a href="http://www.huffingtonpost.com/2012/12/27/mobile-city-detroit-ios-conference-tech_n_2365221.html">http://www.huffingtonpost.com/2012/12/27/mobile-city-detroit-ios-conference-tech_n_2365221.html</a>.
			   </div>  
              </div>  
            </div>  
			
			            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">  
                  <strong>Auto Show + </strong> 
                </a>  
              </div>  
              <div id="collapseFour" class="accordion-body collapse">  
                <div class="accordion-inner">  
Experience the next generation of transportation at the North American International Auto Show 2013. See more than 500 vehicles on display, representing the most innovative designs in the world and experience North America's largest and most prestigious automotive showcase. Public Show Date & Times - Saturday, January 19 - Saturday, January 26, 2013 from 9 a.m. - 10 p.m. (no admittance after 9 p.m.); Sunday, January 27, 2013 from 9 a.m. - 7 p.m. (no admittance after 6 p.m.). Early access for handicapped individuals at 8 a.m. (enter at the Oakland Entrance). Cobo Center provides motorized scooters on a first-come, first-served basis for people with disabilities. Advance reservations are accepted by Cobo Hospitality at (313) 877-8290. Each scooter is $25 per day and limited to a 4-hour period per use at Cobo Center during show hours. Valid driver's license and signed rental agreement required with each reservation. Visa, MasterCard, American Express, Discover and cash payments accepted.
					<br/>
					<br/> 
Download the Mobile App for iPhone and <a href="https://play.google.com/store/apps/details?id=com.wapolabs.autoshow&feature=search_result%23?t=W251bGwsMSwyLDEsImNvbS53YXBvbGFicy5hdXRvc2hvdyJd"> Android </a>
          <br/>
          <br/>

Hours Sat (1/19) - Sat (1/26) 9a - 10p; Sun (1/27) 9a - 7p Admission Adults: $12; Seniors (65+) and Children (6-64) $6; under 6 free with a parentEvent listing courtesy of Detroit Metro Convention & Visitors Bureau

              </div>  
              </div>  
            </div>  

			
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">  
                 <strong>Motown Winter Blast 2013 +</strong>  
                </a>  
              </div>  
              <div id="collapseFive" class="accordion-body collapse">  
                <div class="accordion-inner">From: Campus Martius Park, Downtown Detroit, 2/8/2013 - 2/10/2013
					<br/>
					<br/> 
Motown Winter Blast is a unique combination of hip and fun winter events that are centered on Campus Martius Park. This year we are celebrating Motown with a fun celebration you will not want to miss. For more information see website link.
               </div>  
              </div>  
            </div> 


            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">  
                  <strong>55th Annual Detroit Boat Show + </strong> 
                </a>  
              </div>  
              <div id="collapseSix" class="accordion-body collapse">  
                <div class="accordion-inner">  
Cobo Hall, 2/16/2013 - 02/24/2013, 
Downtown Detroit
The Detroit Boat Show is the Original, Biggest and Best Boat Show in the state of Michigan, featuring the premiere showing of hundreds of new 2013 and new non-current model boats, motors, trailers, accessories and more, ranging from 1- to potentially 50 feet in length, including: fishing boats, ski boats, pontoons, cruisers, inflatables, pontoon watercraft, kayaks, antique boats, race boats and much more. Special attractions to be announced on detroitboatshow.net. Hours: Saturdays & Friday: 11a.m. – 9 p.m.; Sundays: 11a.m. – 6p.m.; Mon, Tues, Wed, Thurs; 3p.m. – 9p.m. Admission: Adults $12, Children 12 and under are free with an adult, Seniors (62 and older) free on Monday. Visit www.detroitboatshow.net for more information and discount tickets.
               </div>  
              </div>  
            </div> 
			
</section>

	
</div>

	<%= render :partial => 'sidebar' %>




