


<div id="community_container">


	<h3>Community</h3>



	<section class="top-space">

		<p>
		<strong>Community</strong>
		</p>
    <p>Blah</p>
    </section>


</div>

	<%= render :partial => 'sidebar' %>




