


<div id="community_container">


	<h3>Community</h3>



	<section class="top-space">

		<p>
		<strong>A short blurb</strong> about how wonderful Detroit is.
		</p>
    </section>

		<section>

		<div class="accordion" id="accordion2">  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  <strong>Tech Town Bizdom +</strong>  
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                	TechTown works to reignite Detroit's entrepreneurial culture by fueling business growth, job creation and the revitalization of Midtown and beyond. Through its partners and programs, the nonprofit business incubator and accelerator connects small businesses to the customers, talent, capital and location necessary to build a thriving enterprise in Southeast Michigan.
Its entrepreneurs also gain unique access to research, academic and technology assets through TechTown's partnership with Wayne State University.
TechTown is a 501(c)(3) non-profit organization and is the Woodward Technology Corridor SmartZone.


					<br/>
 					<br/>
A polished pitch comes with practice. Entrepreneurs with an early-stage, technology-based business are invited to refine their skills at Open Pitch Night, co-presented by TechTown Detroit and Bizdom. Not looking to pitch but passionate about entrepreneurship? Come network, listen to pitches and offer your candid feedback. You'll leave inspired.
					<br/>
 					<br/>

Those interested in pitching will be entered into a drawing upon arrival. A Bizdom or TechTown representative will draw 15 names from the pool at 6:15 p.m. Pitches will begin at 6:30 p.m.; each entrepreneur will get three minutes to pitch followed by two minutes of open Q&A. Presenters must pitch a business based in Southeast Michigan. Experts from TechTown and Bizdom will be on hand to provide feedback to the entrepreneurs when presentations conclude.
					<br/>
 					<br/>

Cost is $5 to register and includes pizza. Cash bar.	
<br/>
 					<br/>
<img src="/assets/techtown_bizdom.png" width="267" height="32" alt="techtown/bizdom" />				
			   </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                 <strong>XCONOMY Mobile Madness Motor City - January 17
 +</strong>  
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse">  
                <div class="accordion-inner">  
A half-day forum of interactive talks and chats that will showcase the top investors, entrepreneurs, and executives tackling the next big ideas in mobile computing - from media and advertising to commerce, finance, big data, analytics, entertainment, and beyond. Hosted at Compuware Headquarters and co-sponsored by the Mobile Technology Association of Michigan - a limited number of discounted ($20) student registrations for the event are available. More on the event can be found here: <a href="http://xconomyforum57.eventbrite.com">http://xconomyforum57.eventbrite.com</a>.
		
			   </div>  
              </div>  
            </div>  

</section>

	
</div>

	<%= render :partial => 'sidebar' %>




