
<div id="community_container">
  <%= render :partial => 'carousel' %>


	<h3>Community</h3>



	<section class="top-space">

		<p>
		<strong>Great things are happening in Detroit!</strong> Detroit is on a comeback and the IT industry is leading the movement. 
		</p>

		<p>Innovative entrepreneurs are coming to Detroit as their destination for work – as entrepreneurs, at established auto and finance companies, and in local high-tech startups. Visionaries are entrepreneurs driven by a desire to change the world – and the capacity to imagine how to do so. Detroit has become the key location for visionaries in the IT industry.</p>

<p>Detroit's international border and riverfront are symbols of one of the most cosmopolitan place in the world. In The D, museums showcase artistic genius and African-American history, the skyline shows our industry and the hangouts blend high style with laid-back cool.</p>

<p>Gotta thing for cars, culture, gaming, music or sports? </p>

<p>Experience three pro-sports teams, upscale casinos, theaters, a thriving cultural district and live entertainment venues that keep the beat all night long.</p>

<p>Detroit has your back with loads of thrilling events and mainstream attractions that cover every category.</p>

    </section>

		<section>
		
<div class="accordion" id="accordion2"> 
           <div class="accordion-group">  
             <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">  
                  <strong>Detroitnet.org +</strong>  
                </a>  
              </div>  
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
<strong>Upcoming Events</strong><br/>
<br/>
17JAN<br/>
<strong>January Casual Networking Social</strong><br/>
Starts at 5:00 PM Como's<br/>
22812 Woodward Ave.<br/>
Ferndale MI 48220<br/>
<br/>
21FEB<br/>
<strong>February Casual Networking Social</strong><br/>
Starts at 5:00 AM<br/>
Falling Down Beer Company<br/>
2270 East 10 Mile Road<br/>
Warren MI 48091<br/>
<br/>
13MAR<br/>
<strong>IT in The D: A Conference for Information Technology Professionals in Metro Detroit</strong><br/>
Starts at 9:00 AM<br/>
The Masonic of Detroit<br/>
500 Temple Avenue<br/>
Detroit MI 48201<br/>
<br/>
<img src="/assets/detroitnet.png" width="178" height="36" alt="detroitnet.org logo" />       
<br/>
<br/>
<a href="http://www.detroitnet.org/">Detroitnet.org</a> in a nutshell. No agenda. No sponsors. No 30 second commercials. No cover charge. No marked-up lunch. Just networking with IT professionals. Plain and simple.
Learn more about Detroitnet.org.
			   </div>  
              </div>  
            </div>  

            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">  
                  <strong>Tech Town Bizdom +</strong>  
                </a>  
              </div>  
              <div id="collapseTwo" class="accordion-body collapse" style="height: 0px; ">  
                <div class="accordion-inner">  
                	TechTown works to reignite Detroit's entrepreneurial culture by fueling business growth, job creation and the revitalization of Midtown and beyond. Through its partners and programs, the nonprofit business incubator and accelerator connects small businesses to the customers, talent, capital and location necessary to build a thriving enterprise in Southeast Michigan.
Its entrepreneurs also gain unique access to research, academic and technology assets through TechTown's partnership with Wayne State University.
TechTown is a 501(c)(3) non-profit organization and is the Woodward Technology Corridor SmartZone.


					<br/>
 					<br/>
A polished pitch comes with practice. Entrepreneurs with an early-stage, technology-based business are invited to refine their skills at Open Pitch Night, co-presented by TechTown Detroit and Bizdom. Not looking to pitch but passionate about entrepreneurship? Come network, listen to pitches and offer your candid feedback. You'll leave inspired.
					<br/>
 					<br/>

Those interested in pitching will be entered into a drawing upon arrival. A Bizdom or TechTown representative will draw 15 names from the pool at 6:15 p.m. Pitches will begin at 6:30 p.m.; each entrepreneur will get three minutes to pitch followed by two minutes of open Q&A. Presenters must pitch a business based in Southeast Michigan. Experts from TechTown and Bizdom will be on hand to provide feedback to the entrepreneurs when presentations conclude.
					<br/>
 					<br/>

Cost is $5 to register and includes pizza. Cash bar.	
<br/>
 					<br/>
<img src="/assets/techtown_bizdom.png" width="267" height="32" alt="techtown/bizdom" />				
			   </div>  
              </div>  
            </div>  
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">  
                 <strong>XCONOMY Mobile Madness Motor City - January 17
 +</strong>  
                </a>  
              </div>  
              <div id="collapseThree" class="accordion-body collapse">  
                <div class="accordion-inner">  
A half-day forum of interactive talks and chats that will showcase the top investors, entrepreneurs, and executives tackling the next big ideas in mobile computing - from media and advertising to commerce, finance, big data, analytics, entertainment, and beyond. Hosted at Compuware Headquarters and co-sponsored by the Mobile Technology Association of Michigan - a limited number of discounted ($20) student registrations for the event are available. More on the event can be found here: <a href="http://xconomyforum57.eventbrite.com">http://xconomyforum57.eventbrite.com</a>.
          <br/>
          <br/>
<img src="/assets/mobilecity.jpg" width="280" height="182" alt="boat show" />       
			   </div>  
              </div>  
            </div>  

		           <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">  
                 <strong>Detroit Mobile City IOS Conference - February 2
 +</strong>  
                </a>  
              </div>  
              <div id="collapseFour" class="accordion-body collapse">  
                <div class="accordion-inner"> 
				This conference will offer tech newbies and sophisticated engineers alike the chance to polish their skills in programming and fine-tuning mobile applications. It will be held Saturday, February 2 at the Westin Book Cadillac in downtown Detroit.  More information can be found here: <a href="http://www.huffingtonpost.com/2012/12/27/mobile-city-detroit-ios-conference-tech_n_2365221.html">http://www.huffingtonpost.com/2012/12/27/mobile-city-detroit-ios-conference-tech_n_2365221.html</a>.
			   </div>  
              </div>  
            </div>  
			
			            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">  
                  <strong>Auto Show + </strong> 
                </a>  
              </div>  
              <div id="collapseFive" class="accordion-body collapse">  
                <div class="accordion-inner">  
Experience the next generation of transportation at the North American International Auto Show 2013. See more than 500 vehicles on display, representing the most innovative designs in the world and experience North America's largest and most prestigious automotive showcase. Public Show Date and Times - Saturday, January 19 - Saturday, January 26, 2013 from 9 a.m. - 10 p.m. (no admittance after 9 p.m.); Sunday, January 27, 2013 from 9 a.m. - 7 p.m. (no admittance after 6 p.m.). Early access for handicapped individuals at 8 a.m. (enter at the Oakland Entrance). Cobo Center provides motorized scooters on a first-come, first-served basis for people with disabilities. Advance reservations are accepted by Cobo Hospitality at (313) 877-8290. Each scooter is $25 per day and limited to a 4-hour period per use at Cobo Center during show hours. Valid driver's license and signed rental agreement required with each reservation. Visa, MasterCard, American Express, Discover and cash payments accepted.
					<br/>
					<br/> 
Download the Mobile App for <a href="https://itunes.apple.com/us/app/detroit-auto-show-naias-2013/id583661712?mt=8"> iPhone</a> and <a href="https://play.google.com/store/apps/details?id=com.wapolabs.autoshow&feature=search_result%23?t=W251bGwsMSwyLDEsImNvbS53YXBvbGFicy5hdXRvc2hvdyJd"> Android </a>
          <br/>
          <br/>

Hours Sat (1/19) - Sat (1/26) 9a - 10p; Sun (1/27) 9a - 7p Admission Adults: $12; Seniors (65+) and Children (6-64) $6; under 6 free with a parentEvent listing courtesy of Detroit Metro Convention and Visitors Bureau
          <br/>
          <br/>
<img src="/assets/autoshow.png" width="296" height="185" alt="winter blast" />       

              </div>  
              </div>  
            </div>  

			
            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">  
                 <strong>Motown Winter Blast 2013 +</strong>  
                </a>  
              </div>  
              <div id="collapseSix" class="accordion-body collapse">  
                <div class="accordion-inner">From: Campus Martius Park, Downtown Detroit, 2/8/2013 - 2/10/2013
					<br/>
					<br/> 
Motown Winter Blast is a unique combination of hip and fun winter events that are centered on Campus Martius Park. This year we are celebrating Motown with a fun celebration you will not want to miss. For more information see website link.
          <br/>
          <br/>
<img src="/assets/winterblast.jpg" width="300" height="223" alt="winter blast" />       
               </div>  
              </div>  
            </div> 


            <div class="accordion-group">  
              <div class="accordion-heading">  
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">  
                  <strong>55th Annual Detroit Boat Show + </strong> 
                </a>  
              </div>  
              <div id="collapseSeven" class="accordion-body collapse">  
                <div class="accordion-inner">  
Cobo Hall, 2/16/2013 - 02/24/2013, 
Downtown Detroit
The Detroit Boat Show is the Original, Biggest and Best Boat Show in the state of Michigan, featuring the premiere showing of hundreds of new 2013 and new non-current model boats, motors, trailers, accessories and more, ranging from 1- to potentially 50 feet in length, including: fishing boats, ski boats, pontoons, cruisers, inflatables, pontoon watercraft, kayaks, antique boats, race boats and much more. Special attractions to be announced on detroitboatshow.net. Hours: Saturdays and Friday: 11a.m. – 9 p.m.; Sundays: 11a.m. – 6p.m.; Mon, Tues, Wed, Thurs; 3p.m. – 9p.m. Admission: Adults $12, Children 12 and under are free with an adult, Seniors (62 and older) free on Monday. Visit <a href="http://www.detroitboatshow.net/">www.detroitboatshow.net</a> for more information and discount tickets.
          <br/>
          <br/>
<img src="/assets/boatshow.jpg" width="264" height="176" alt="boat show" />       
               </div>  
              </div>  
            </div> 
</div>			
</section>

	
</div>

	<%= render :partial => 'sidebar' %>




