// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span12 {

}

body { padding-top: 0;
padding-left: 20px }

.myboxouter {
padding: 10px;
border-top: 4px solid #E5E5E5;
border-bottom: 4px solid #E5E5E5;
border-left: 4px solid #E5E5E5;
border-right: 4px solid #E5E5E5;
}

.myboxinner {
margin: 0 0px 0px 0px;
padding: 20px 10px 0 10px;
background-color: #CCC;
border-bottom: 4px solid #E5E5E5;
border-left: 4px solid #E5E5E5;
border-right: 4px solid #E5E5E5;
}

.form-horizontal {
    // Super jank IE7 fix to ensure the inputs in .input-append and input-prepend
    // don't inherit the margin of the parent, in this case .controls
    *display: inline-block;
    *padding-left: 20px;
    *margin-left: 0;
	*text-align: left;
}

.form-horizontal .controls {
margin-left: 0px;
}


.actions {
    margin-top: 20px;
}

#extraspace {
   padding-top: 20px;
   }

.clear {
 clear:both;
}

#box_padding {
     padding: 0 5px 0 5px;
     height: 100px;
}

#no_topmarg {
  margin-top: 0;
  }