
<h3>TESTIMONIALS</h3>
          
<% @testimonials.each do |testimonial| %>

<div id="testimonial_container" class='span5' style="margin-left:10px">    
      <div class="content_title"> <p><%= testimonial[:title]%></p> </div>

        <section>
          <iframe width="470" height="315" src=<%=testimonial[:iframe_src]%> frameborder="4" allowfullscreen></iframe>
        </section>
  </div>
<% end %>





