<!--Test ability to pass a variable to the iframe-->
<% provide(:video_title, 'Brad') %>
<!--<% provide(:video_number, "WheO3v0gh1Y") %>

<h3>TESTIMONIALS</h3>

<div id="testimonial_container" class='span5' style="margin-left:40px">

    <section>
    <!--  <ul>!-->
      <!--<#% @entries.each do |entry| %>
        <li><#%= link_to entry.title, entry.url %></li>
      <#% end %>-->
    <!--  </ul>!-->
    </section>

    <div id="testimonial_container" >
    <div class="content_title"> <p>Testimonials</p> </div>
    <section>
    <iframe width="480" title="YouTube video player" src="http://www.youtube.com/embed/cpcxm6yjJ80?HD=1;wmode=opaque;rel=0;showinfo=0;controls=0;title=0" height="270" frameborder="4"></iframe>
    </section>
  </div>
   
   <!--<%= videos = Youtube.get_videos("UC3sD2LbS9knGoDeANxiUbFw")%>-->

       <%= titles = Youtitle.get_titles("UC3sD2LbS9knGoDeANxiUbFw")%>
 
    <!--<% videos.(titles).each do |video, title| %>-->

   <% titles.each do |title| %>

        <div class="content_title">
        <p><%= title%></p>
        </div>

      <section>
      <iframe width="470" height="315" src="http://www.youtube.com/embed/<%= video%>" frameborder="0" allowfullscreen></iframe>
      </section>
 
  </div>

<div id="testimonial_container" class='span5' style="margin-left:40px">

<% end %>

    </div>

<!--<% $end %>-->

<% end %>

