<footer class="container">

<div id="foot_program_container">
        <ul id="footer_program">
          <h4>The Program    </h4>	

          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">F.A.Q</a></li>
          <li><a href="">Schedule</a></li>
          <li><a href="">Inside View</a></li>
          <li><a href="">Testimonials</a></li>
          <li><a href="">Forum</a></li>
        </ul> 
 </div>

 <div id="footer_dual_nav">
        <ul id="team_nav">
       	  <h4>Our Team</h4>	
          <li><a href="">Students</a></li>
          <li><a href="">Instructors</a></li>
          <li><a href="Organizations">Sponsors</a></li>

        </ul>  

        <ul id="resources">
       	  <h4>Resources</h4>	
          <li><a href="Resources">Tools</a></li>
          <li><a href="">Help</a></li>
        </ul>  
 </div>

 <div id="twitter_container">

 	
 </div>	

</footer>