

  <div id="footer_program" style="float:left">   
    <ul>
      <h4 style="color:white">The Program</h4>  
      <li><a href="">About Us</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">F.A.Q</a></li>
      <li><a href="">Schedule</a></li>
      <li><a href="">Inside View</a></li>
      <li><a href="">Testimonials</a></li>
      <li><a href="">Forum</a></li>
    </ul> 
  </div>


  <div id="team_nav" style="float:left">
    <ul>
    <h4 style="color:white">Our Team</h4>	
      <li><a href="">Students</a></li>
      <li><a href="">Instructors</a></li>
      <li><a href="/Organizations">Sponsors</a></li>
    </ul>  
  </div>

  <div id="resources" style="float:left">
    <ul>
      <h4 style="color:white">Resources</h4>	
      <li><a href="/Resources">Tools</a></li>
      <li><a href="">Help</a></li>
    </ul>  
  </div>


 <div id="twitter_container" style="float:left">
 </div>	
