

  <div id="footer_program" style="float:left">   
    <ul>
      <h5 style="color:white">The Program</h5>  
      <li><a href="/about_us">About Us</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
      <li><a href="/faq">F.A.Q</a></li>
      <li><a href="">Testimonials</a></li>
    </ul> 
  </div>


  <div id="team_nav" style="float:left">
    <ul>
    <h5 style="color:white">Our Team</h5>	
      <li><a href="">Students</a></li>
      <li><a href="">Instructors</a></li>
      <li><a href="/Organizations">Sponsors</a></li>
    </ul>  
  </div>

  <div id="resources" style="float:left">
    <ul>
      <h5><a href="/Resources" style="color:white">Resources</a></h5>  
    </ul>  
  </div>

  <div id="community" style="float:left">
    <ul>
      <h5 style="color:white">Community</a></h5>  
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>  
  </div> 

  <div id="twitter_container" style="float:left">
  </div>	
