
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" id="top_navmenu">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">It In The D</a>
          <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-user"></i>Username
                  <span class="caret"></span>
                </a>
                 <ul class="dropdown-menu">
                  <!--<a href="#">Sign In</a>-->
                  <%= link_to "Login", new_user_session_path %>
                  <li>                    
                    <!--<a href="#">Register</a>-->
                    <%= link_to "Sign Up",new_user_registration_path%>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <!--<a href="#">Sign Out</a>-->
                    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
                  </li>
                </ul>
              </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/"><i class="icon-home"></i>Home</a></li>
              <li><a href="#news">News</a></li>
              <li><a href="#events">Events</a></li>
              <li><a href="#companies">Companies</a></li>
              <li><a href="/home/about">About</a></li>
              <li><a href="/home/contact">Contact</a></li>
            </ul>
            <div class='span3 round' style="margin-bottom:-20px; margin-top:4px;">
           <form>
            <input type='search'  placeholder='search'>
          </form>
          </div><!--/.nav-collapse -->  

  </div>     
        </div>
      </div>
    </div>


<header class='row' style="margin-top:60px;">

	
</header>
