<div class='row'>
  <div class='span3'>
    Logo
  </div>
  <div class='span9'>
    <div class='row'>
      <div class='offset6 span3'>
        Social
      </div>
    </div>
    <div class='row'>
      <div class='span9'>
        Nav
      </div>
    </div>
  </div>
</div>