

  <div id="logo_container">
    <a href="/home"><img src="/assets/logo.png"></a>
  </div>

  <div id="nav_container" class='span9'>
    
    <div class='row'>
      <ul id="social_nav" class='offset2 span3'>
          <li><a href=""><img src="/assets/email_icon.png"></a></li>
          <li><a href=""><img src="/assets/twitter_icon.png"></a></li>
          <li><a href=""><img src="/assets/facebook_icon.png"></a></li>
          <li><a href=""><img src="/assets/youtube_icon.png"></a></li>
          <li><a href=""><img src="/assets/gplus_icon.png"></a></li>
          <li class="last_item"><a href=""><img src="/assets/linked_icon.png"></a></li>

          <li>

            <form id="demo" class="collapse width">  
              <input type="text" class="input-medium search-query">  
              <button type="submit" class="btn">Search</button>  
            </form>
          </li>
          <li>
            <a href="#demo" data-toggle="collapse"><img src="/assets/gplus_icon.png"></a>
          </li>
          <li>
            <form id="login" class="collapse width">  
              <input type="text" class="input-small" placeholder="Email">  
              <input type="password" class="input-small" placeholder="Password">   
              <button type="submit" class="btn">Sign in</button>  
            </form>  
          </li>

           <li>
            <a href="#login" data-toggle="collapse"><img src="/assets/gplus_icon.png"></a>
          </li>
      </ul>
    </div>


    <div class='row'>
      <ul id="main_nav" class='span8'>
        
        <li><a href="/home">Home <img src="/assets/menu_drop_arrow.png"></a></li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown">Program <img src="/assets/menu_drop_arrow.png"></a>
            <ul class="dropdown-menu">
              <li><a href=""> About Us </a></li>
              <li><a href="/contactus"> Contact Us </a></li>
              <li><a href="/faqs"> F.A.Q </a></li>
              <li><a href=""> Schedule </a></li>
              <li><a href=""> Inside View </a></li>
              <li><a href=""> Testimonials </a></li>
              <li class="last_item"><a href=""> Forum </a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown">Our Team <img src="/assets/menu_drop_arrow.png"></a>
            <ul class="dropdown-menu">
              <li><a href=""> Students </a></li>
              <li><a href=""> Instructors </a></li>
              <li class="last_item"><a href=""> Sponsors </a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown">Resources <img src="/assets/menu_drop_arrow.png"></a>
            <ul class="dropdown-menu">
              <li><a href=""> Tools </a></li>
              <li class="last_item"><a href=""> Help </a></li>
            </ul>
          </li>           
        <li><a href="">Community <img src="/assets/menu_drop_arrow.png"></a></li>                  
        <li class="last_item"><a href="/Users">Apply Now <img src="/assets/menu_drop_arrow.png"></a></li>  

      </ul>
    </div>
  </div>


