<header style='height:150px;' class='row'>
	<div class='span2'>
		User <br>
		Login <br>
		Register<br>
	</div>
	<div class='span7'>
		<h1 style='text-align:center;'>
			<%= link_to(image_tag('main_logo.png'), '/') %>
		</h1>
	</div>
	<div class='span3'>
		<form>
			<input type='search' placeholder='search'>
		</form>
	</div>

</header>